.logo{
    padding: 50px;
    margin-right: auto;
}

.logo-wraper{
    width: 352px;
    height: 47px;
    img{
        width: 100%;
    }
}

@media only screen and (max-width: 376px) {
    .logo-wraper{
        width: 290px;
    }
    }