*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    // width: 1190px;
    // padding: 50px;
    // margin-left: auto;
    // margin-right: auto;
}

.home-page-wraper-first-item{
    background: url("https://www.2030climatechallenge.org/img/background-top.jpg") no-repeat;
    background-size: cover;
}
.home-page-wraper-third-item{
    background: url("https://www.2030climatechallenge.org/img/background-bottom.jpg") no-repeat;
    background-size: cover;
}